$bg-light: "none";
$bg-dark: "none";

@if $background-image-light != "" {
  $bg-light: url($background-image-light);
  @if $background-image-dark != "" {
    $bg-dark: url($background-image-dark);
  } @else {
    $bg-dark: url($background-image-light);
  }
}

$bg: dark-light-choose($bg-light, $bg-dark);

:root {
  --custom-bg: #{$bg};
}
