// these are add-on styles controlled by settings
@import "special-styles";

.welcome-banner:not(.below-site-header-outlet, .above-main-container-outlet) {
  display: none;
}

.search-banner {
  background-image: var(--custom-bg);

  @if $tile-background_image == "true" {
    background-size: auto;
  } @else {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.welcome-banner {
  .btn.search-icon:not(.has-search-button-text) {
    z-index: 2;
    background: transparent;
    line-height: 1;
    color: var(--primary-medium);
    height: 100%;
    position: absolute;
    left: 0;

    .rtl & {
      right: 0;
      left: unset;
    }

    .discourse-no-touch & {
      &:hover {
        background: transparent;
        color: var(--primary);

        .d-icon {
          color: currentcolor;
        }
      }
    }

    + .search-menu-container .search-input {
      padding-left: 1.75em;

      .rtl & {
        padding-left: unset;
        padding-right: 1.75em;
      }
    }

    + .search-menu-container .search-input .search-context {
      margin-left: 4px;
    }
  }

  .btn.search-icon.has-search-button-text {
    margin-left: 0.5em;
    column-gap: 0.5em;
    background-color: var(--tertiary);
    color: var(--secondary);
    position: unset;
    height: unset;

    &:hover {
      background-color: var(--tertiary-hover);
      color: var(--secondary);
    }

    .d-icon {
      color: var(--secondary);
    }
  }
}
